{% extends "base.html" %}
{% block content %}
<h2>Book Details</h2>
<span class="text-info">Title: </span> <span>{{book.title}}</span>
  <br>
  <span class="text-info">Publisher: </span>
  <span>{{book.publisher }}</span>
  <br>
  <span class="text-info">Publication Date: </span>
  <span>{{book.publication_date}}</span>
  <br>
  <span class="text-info">Rating: </span>
  <span class="badge badge-primary badge-pill">
{{book_rating }}</span>
<hr>
<h2>Reviews Comments:</h2>
{% if reviews %}
  <ul class="list-group" style="margin-left: 60px;">
    {% for review in reviews %}
      <li class="list-group-item">
          <br> <span class="text-info">Review comment:
          </span> <span>{{review.content}}</span>
          <br> <span class="text-info">Create on:
          </span> <span>{{review.date_created}}</span>
          <br> <span class="text-info">Modified on:
          </span> <span>{{review.date_edited}}</span>
          <br> <span class="text-info">Create on: </span> <span>{{review.date_created}}</span>
          <br> <span class="text-info">Creator: </span> <span>{{review.creator_id}}</span> <br>
        <span class="badge badge-info">Rating: {{ review.rating }}</span>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="text-muted">No reviews yet.</p>
{% endif %}
{% endblock %}
